@font-face {
  font-family: "Avenir";
  src: url("./AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: url("./AvenirLTStd-Roman.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Avenir";
  src: url("./AvenirLTStd-Black.otf") format("truetype");
  font-weight: bolder;
}
