@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirLTStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  src: url("/assets/fonts/AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirLTStd-Black.ttf") format("truetype");
  font-weight: 900;
}


* {
  font-family: 'Avenir';
  font-weight: normal;
}

.hidden {
  display: none !important;
}

html {
  background: #E8E8E8;
}

@media screen and (max-width: 380px) {
  .row>* {
    padding-left: 5px !important;
  }

  .main-container {
    padding: 11px !important;
  }

  .choice-wrapper#apartamento {
    width: 56%;
  }

  #expressa-wrapper {
    width: 47%;
  }

  .choice-btn {
    font-size: 15px !important;
  }

  .choice-icon-wrapper svg {
    width: 22px;
  }
}
